/**
 * Copy this and save as 'config.js'
 * - Edit the params as you see fit.
 */

/**
 * Bot configuration
 * @type {{}}
 */
var config = {
    // Your API token from: https://discordapp.com/developers/applications/me
    // APP BOT USER > Token:
    botToken: '',
};

// Export it
module.exports = config;